// Colors
$dark0: #050107;
$dark1: #262728;
$dark2: #4B4D4F;
$primary: #DD256B;
$secondary: #5A9ECF;
$light0: #FCFBF7;
$light1: #E0DFDC;
$light2: #BCBBB8;

// Font size
$title1: 56px;
$title2: 48px;
$title3: 32px;
$subtitle: 20px;
$description: 18px;
$buttonLabel: 16px;